/* CSS Document */


.ek-notes-editor-container  .wp-editor-container
{
	border:5px solid #ccc;
}



.ek-notes-feedback
{

	background:#d4f7d8;
	border:solid 1px #1aa327;
	padding:10px;
	font-weight:bold;
	margin:10px 0px 10px 0px;
	display:none;
		
}

.ek-notes-button-primary
{
	margin-top:5px;	
}


.ek-bookmark-wrap:hover
{
	cursor:pointer;
}